<nav>
    <ul>
        <li>
            <a href="/">
                Products
            </a>
        </li>
        <li>
            <a href="/admin/product-add">
                Add product
            </a>
        </li>
        <li>
            <a href="/cart">
                Cart
            </a>
        </li>
        <li>
            <a href="/orders">
                Orders
            </a>
        </li>
    </ul>
</nav>