<nav>
    <ul>
        <li>
            <a href="/">
                Welcome
            </a>
        </li>
        <li>
            <a href="/admin/add-product">
                Add product
            </a>
        </li>
    </ul>
</nav>