<%- include('includes/head.ejs') %>
<title><%= pageTitle %></title>
</head>

<body>
    <%- include('includes/nav.ejs') %>
    <main>
    <h2>Add product</h2>
    <form method="post" action="/admin/product-add">
        <div>
            <label for="title">
                Title
            </label>
            <input type="text" name="title" />
        </div>    

        <div>
            <label for="description">
                Description
            </label>
            <input type="text" name="description" />    
        </div>

        <div>    
            <label for="price">
                Price
            </label>
            <input type="text" name="price" />    
        </div>
        
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
    </main>
</body>
